html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1.wordmark {
    color: black;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.form-check-input[type="radio"] + label {
    margin-left: 0.2em;
}
